body{
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 120px 170px;
}
h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 48px;
    margin-bottom: 30px;
}
h3{
    font-size: 20px;
    color: white;
}
p{
    font-size: 20px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
.topmargin-xs{
    margin-top:15px;
}
.topmargin-sm{
    margin-top:30px;
}
.topmargin-lg{
    margin-top:60px;
}

.navbar{
    background-color:  #50c2ff;
    box-shadow: 0 2px 4px o rgba(0, 0, 0, 0);
    min-height: 80px;
}
.nav-link{
   color:white;
}
.nav-link:hover{
   color:white; 
}
.navbar-toogler{
    font-size: 40px;
}
.navbar-toogler:focus{
    outline: none;
}

#portada {
    background-image: url(../img/vacuna1.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 600px;
    color: white;
}

#portada p{
   color: #ffffff; 
}

.content-center{
    max-height: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.beneficiados-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

.beneficiados-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.beneficiados-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
}

.beneficiados-details{
    bottom: 25px;
    left: 25px;
    text-align: center;
}



